In [1]:
import pandas as pd

# read file into Dataframe 
dc_listings = pd.read_csv('data/dc_airbnb.csv')

# print first five rows of dc_listings
dc_listings.head(5)

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD

In [2]:
import numpy as np

# calculate the Euclidean distance between our living space, which can accommodate 3 people, and the first living space in the dc_listings Dataframe
first_distance = np.sqrt(dc_listings.loc[0, 'accommodates'] - 3) ** 2

print(first_distance)

1.0

In [3]:
# Calculate the distance between each value in the accommodates column from dc_listings and the value 3, which is the number of people our listing accommodates
dc_listings['distance'] = dc_listings['accommodates'].apply(lambda x: np.absolute(x - 3))

# Use the Series method value_counts and the print function to display the unique value counts for the distance column
dc_listings['distance'].value_counts()

1     2294
2      503
0      461
3      279
5       73
4       35
7       22
6       17
9       12
13       8
8        7
12       6
11       4
10       2
Name: distance, dtype: int64

In [4]:
np.random.seed(1)

# Randomize the order of the rows
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]

# After randomization, sort dc_listings by the distance column
dc_listings = dc_listings.sort_values(by=['distance'])

# Display the first 10 values in the price column using the print function
dc_listings['price'].head(10)

577     $185.00
2166    $180.00
3631    $175.00
71      $128.00
1011    $115.00
380     $219.00
943     $125.00
3107    $250.00
1499     $94.00
625     $150.00
Name: price, dtype: object

In [5]:
# Remove the commas (,) and dollar sign characters ($) from the price column
x1 = dc_listings['price'].str.replace(',','').str.replace('$', '')

# Convert the new Series object containing the cleaned values to the float datatype and assign back to the price column
float_lst = [float(x) for x in x1]
dc_listings['price'] = float_lst

# Calculate the mean of the first 5 values in the price column
mean_price = np.mean(dc_listings['price'].head(5))

print(mean_price)

156.6

In [6]:
# Brought along the changes we made to the `dc_listings` Dataframe.
dc_listings = pd.read_csv('data/dc_airbnb.csv')
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')
dc_listings['price'] = stripped_dollars.astype('float')
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]

def predict_price(new_listing):
    temp_df = dc_listings.copy()
    ## Complete the function.
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.absolute(x - new_listing))
    temp_df = temp_df.sort_values(by=['distance'])
    mean_price = np.mean(temp_df['price'].head(5))
    return(mean_price)

acc_one = predict_price(1)
acc_two = predict_price(2)
acc_four = predict_price(4)

print(acc_one, acc_two, acc_four)

71.8 96.8 96.0